body{
    background-color: rgb(205, 224, 119);
}

* {
    /* border: 10px; */
    border: solid;
}

h2 {
    color: rgb(255, 0, 0);
}

.header {
    display: flex;
    background-color: rgb(146, 206, 221);
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: inherit;
    text-align: center;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer{
    display: flex;
    justify-content: flex-end;
}